.create-task-header{
    font-weight: 600 !important;
  }
  
  #taskcontainer {
    height: 580px !important;
  }
  #tasks-list {
    height: 400px !important;
    color: #0a0101 !important;
    overflow: auto !important;
  }
  ::-webkit-scrollbar {
    width: 5px !important;
  } 
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1 !important;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888 !important;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555 !important;
  }
  #taskcreate {
    width: 600px !important;
  }
  
  #deletetask {
    width: 500px !important;
  }