{% extends 'base.html' %} {% block content %}
<div
  class="container-fluid min-vh-100 d-flex justify-content-center align-items-center"
>
  <div
    id="taskcreate"
    class="container border rounded-5 p-5 bg-white shadow box-area"
  >
    <h1>Edit Task</h1>
    <div class="container">
      <form method="POST" action="">
        {% csrf_token %}
        <div class="row mt-5">{{form.title}}</div>
        <div class="row mt-5">{{form.description}}</div>
        <div class="row">
          <div class="col mt-5">
            <a class="btn btn-primary" href="{% url 'main' %}" role="button"
              >Back</a
            >
          </div>
          <div class="col text-end">
            <input
              class="btn btn-success mt-5"
              type="submit"
              value="Save Changes"
            />
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock content %}
